/*
  This demo will NOT work on its own, please copy the content of each file into a new CodePen.
  Don't forget to add React & ReactDom to your JS dependecies.
*/

.person {
  border: 1px solid #ccc;
  display: inline-block;
  margin: 1em;
  padding: .25em 2em;
}
