.Burger {
  font-size: 1.2rem;
  font-weight: bold;
  height: 250px;
  margin: auto;
  overflow: scroll;
  text-align: center;
  width: 100%;
}

@media (min-width: 1000px) and (min-height: 700px) {
  .Burger {
    height: 600px;
    width: 700px;
  }
}

@media (min-width: 500px) and (min-height: 401px) {
  .Burger {
    height: 450px;
    width: 400px;
  }
}

@media (min-width: 500px) and (min-height: 400px) {
  .Burger {
    height: 350px;
    width: 300px;
  }
}
